<!DOCTYPE HTML>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body id="myBody">

<div id='navibar'></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#navibar").load("/user/navibar", function () {
        });
    })
</script>


<p style= "margin-left: 15px; margin-bottom: 0; padding-bottom: 0; margin-top: 80px; font-weight: bold; color:white">기간 선택</p>
<div style="text-align: center; margin-top: 20px;">
    <input id = "date-start" type="date" name="startDate" class = "date-start" value=""> 
    <p style="display: inline-block;">~</p>
    <input id = "date-end" type="date" name="endDate" class = "date-end" value="">
</div>

<div style="background-color: white; height:100%; margin-top: 30px; border-radius:40px">
    <ul style="padding:0; margin:0">
        <li style="list-style: none; padding-top: 50px">
            <p style="margin-left: 15px; font-weight: bold; display: inline-block;">총 결제 금액</p>
            <div style = "display: inline-block; float: right; margin-right:25px; font-size: 14px;" id="total-paid"></div>
        </li>
        <li style="list-style: none;">
            <p style="margin-left: 15px; font-weight: bold; display: inline-block;">총 결제 건수</p>
            <div style = "display: inline-block; float: right; margin-right:25px; font-size: 14px;" id="total-num"></div>
        </li>
        <li style="list-style: none;">
            <p style="margin-left: 15px; font-weight: bold; display: inline-block;">평균 결제 금액</p>
            <div style = "display: inline-block; float: right; margin-right:25px; font-size: 14px;" id="total-paid-avg"></div>
        </li>
        <hr>
        <li style="list-style: none;">
            <p style="margin-left: 15px; font-weight: bold; display: inline-block;">카드 결제 금액</p>
            <div style = "display: inline-block; float: right; margin-right:25px; font-size: 14px;" id="card-paid"></div>
        </li>
        <li style="list-style: none;">
            <p style="margin-left: 15px; font-weight: bold; display: inline-block;">현금 결제 금액</p>
            <div style = "display: inline-block; float: right; margin-right:25px; font-size: 14px;" id="cash-paid"></div>
        </li>
        <li style="list-style: none;">
            <p style="margin-left: 15px; font-weight: bold; display: inline-block;">간편 결제 금액</p>
            <div style = "display: inline-block; float: right; margin-right:25px; font-size: 14px;" id="easy-paid"></div>
        </li>
        <hr>
        <li style="list-style: none;">
            <p style="margin-left: 15px; font-weight: bold; display: inline-block;">총 취소 금액</p>
            <div style = "display: inline-block; float: right; margin-right:25px; font-size: 14px;" id="refund"></div>
        </li>
        <li style="list-style: none;">
            <p style="margin-left: 15px; font-weight: bold; display: inline-block;">총 취소 건수</p>
            <div style = "display: inline-block; float: right; margin-right:25px; font-size: 14px;" id="refund-num"></div>
        </li>
        <li style="list-style: none;">
            <p style="margin-left: 15px; font-weight: bold; display: inline-block;">평균 취소 금액</p>
            <div style = "display: inline-block; float: right; margin-right:25px; font-size: 14px;" id="refund-avg"></div>
        </li>
    </ul>
    
    <hr>
    
    <div id="table" style="height: 340px; margin-top:50px;">
        <table class="table table-hover" style = "margin-bottom:40px;">
            <thead style = "height: 0px;">
                <tr>
                    <th style="text-align:center">주문 경로</th>
                    <th style="text-align:center">건 수</th>
                    <th style="text-align:center">매출</th>
                </tr>
            </thead>
            <tbody style = "height: 34px;" id="tblShow">
            </tbody>
        </table>
    </div>
    
   
</div>
        
<script type="text/javascript">

    function getEarningAnalysisData(date_start,date_end){
        
        $(document).ready(function(){
            $.ajax({
                url: `/statistic/getEarningAnalysisData?token=${localStorage.getItem('token')}&start=${date_start}&end=${date_end}`,
                type: "get",
                datatype: "json",
                success: function(result){
                    if(result.error != 'token expired'){

                        const deliverys = result.delivery;
                        console.log(deliverys);

                        let kind_app = new Set();

                        for(let i = 0; i < deliverys.length ; i++){
                            kind_app.add(deliverys[i].deliveryApp)
                        }

                        kind_app = Array.from(kind_app)
                        let count_earning_dict = {}
                        let total_paid = 0
                        let total_num = 0
                        let refund = 0
                        let refund_num = 0
                        let card_paid = 0
                        let cash_paid = 0
                        let easy_paid = 0

                        for(let i = 0; i < kind_app.length; i++){
                            count_earning_dict[kind_app[i]] = [0,0]
                        }

                        for(let i = 0; i < deliverys.length ; i++){
                            if (deliverys[i].status != 4 && deliverys[i].status != 5){

                                let paid = deliverys[i].totalPrice - deliverys[i].discountPrice - deliverys[i].deliveryPrice 

                                count_earning_dict[deliverys[i].deliveryApp][0] += 1;
                                count_earning_dict[deliverys[i].deliveryApp][1] += paid
                                total_paid += paid
                                total_num += 1
                                
                                if(deliverys[i].payType == 1){
                                    easy_paid += paid
                                }
                                else if(deliverys[i].payType == 2){
                                    card_paid += paid
                                }
                                else if(deliverys[i].payType == 3){
                                    cash_paid += paid
                                }
                            }
                            else{
                                refund += deliverys[i].totalPrice - deliverys[i].discountPrice - deliverys[i].deliveryPrice
                                refund_num += 1
                            }
                        }

                        let earning = new Array();

                        for(let key in count_earning_dict){
                            earning.push([key,count_earning_dict[key][0],count_earning_dict[key][1]])
                        }

                        console.log(total_paid,total_num);

                        const total_paid_obj= document.getElementById('total-paid');
                        total_paid_obj.innerHTML = total_paid
                        const total_num_obj = document.getElementById('total-num');
                        total_num_obj.innerHTML = total_num
                        const total_avg_obj = document.getElementById('total-paid-avg');
                        total_avg_obj.innerHTML = parseInt(total_paid/total_num);

                        const card_paid_obj = document.getElementById('card-paid');
                        card_paid_obj.innerHTML = card_paid
                        const cash_paid_obj = document.getElementById('cash-paid');
                        cash_paid_obj.innerHTML = cash_paid
                        const easy_paid_obj = document.getElementById('easy-paid');
                        easy_paid_obj.innerHTML = easy_paid

                        const refund_obj = document.getElementById('refund');
                        refund_obj.innerHTML = refund
                        const refund_num_obj = document.getElementById('refund-num');
                        refund_num_obj.innerHTML = refund_num
                        const refund_avg_obj = document.getElementById('refund-avg');
                        refund_avg_obj.innerHTML = parseInt(refund/refund_num);

                        for(let i = 0; i<earning.length;i++){
                            let objRow = document.all("tblShow").insertRow();
                            let objCell_app =objRow.insertCell();
                            objCell_app.style="text-align:center"
                            objCell_app.innerHTML = earning[i][0];
                            let objCell_count = objRow.insertCell();
                            objCell_count.style="text-align:center"
                            objCell_count.innerHTML = earning[i][1] + "건";
                            let objCell_earning = objRow.insertCell();
                            objCell_earning.style="text-align:center"
                            objCell_earning.innerHTML = earning[i][2];
                        }



                    }
                    else{
                        localStorage.removeItem('token');
                        alert('세션이 만료되었습니다 \n다시 로그인 하세요.');
                        window.location.href = '/user';
                    }
                }
            });
        });
    }

    const selectElement_start = document.getElementById('date-start');

    selectElement_start.addEventListener('change', (event) => {
        
        let date_start = document.getElementById('date-start').value
        let date_end = document.getElementById('date-end').value

        if (date_end != ""){     
            getEarningAnalysisData(date_start,date_end);
        }
    });

    const selectElement_end = document.getElementById('date-end');

    selectElement_end.addEventListener('change', (event) => {
        
        let date_start = document.getElementById('date-start').value
        let date_end = document.getElementById('date-end').value

        if(date_start != ""){
            getEarningAnalysisData(date_start,date_end);
        }
    });

    
</script>  

<script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>