<!DOCTYPE HTML>
<html>
<head>
    <meta charset='utf-8' />
    <link href='/static/fullcalendar/main.css' rel='stylesheet' />
    <script src='/static/fullcalendar/main.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div id='navibar'></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#navibar").load("/user/navibar", function () {
        });
    })
</script>

<div id='calendar' class = "container" style = "margin-top: 80px; width: 100% "></div>
        
<div  style="height: 340px; margin-top:50px;">
    <p class="date"style="margin-left:30px;  margin-bottom:0; float:left">날짜를 선택하세요</p>
    
    <table  id="paymentTable"class="table table-hover" style = "margin-bottom:40px;">
        <thead style = "height: 0px;">
            <tr>
                <th style="padding:0"></th>
                <th style="padding:0"></th>
                <th style="padding:0"></th>
            </tr>
        </thead>
        <tbody style = "height: 34px;" id="tblShow">
        </tbody>
    </table>
</div>

<button type="button" id = "modal-btn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal" style="display:none;"></button>

    <div id="modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    
                    <ul style="padding:0; margin:0">
                        <li style="list-style: none;">
                            <p style="font-weight: bold; display: inline-block;">상태</p>
                            <p style="display: inline-block; float: right;" id = "status"></p>
                        </li>
                        <li style="list-style: none;">
                            <p style="font-weight: bold; display: inline-block;">결제시간</p>
                            <p style="display: inline-block; float: right;" id = "date"></p>
                        </li>
                        <li style="list-style: none;">
                            <p style="font-weight: bold; display: inline-block;">총 결제 금액</p>
                            <p style="display: inline-block; float: right;" id="totalPrice"></p>
                        </li>
                        <hr>
                        <li style="list-style: none;">
                            <p style="font-weight: bold; display: inline-block;">지번 주소</p>
                            <p style="display: inline-block; float: right;" id = "jibunAddress"></p>
                        </li>
                        <li style="list-style: none;">
                            <p style="font-weight: bold; display: inline-block;">도로명 주소</p>
                            <p style="display: inline-block; float: right;" id = "roadAddress"></p>
                        </li>
                        <li style="list-style: none;">
                            <p style="font-weight: bold; display: inline-block;">상세 주소</p>
                            <p style="display: inline-block; float: right;" id="detailAddress"></p>
                        </li>
                        <hr>
                        <li style="list-style: none;">
                            <p style="font-weight: bold; display: inline-block;">결제 수단</p>
                            <p style="display: inline-block; float: right;" id = "payType"></p>
                        </li>
                        <hr>
                        <li style="list-style: none;">
                            <p style = "font-weight: bold;">결제 내역</p>
                            <div id="table">
                                <table  style = " margin-top:10px; margin-bottom:40px; width: 100%;">
                                    <thead style = "height: 0px;">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody style = "height: 34px;" id="tblShow_orders">
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">

    

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {

        initialView: 'dayGridMonth',
        expandRows: true,
        aspectRatio: 1.35,
        events: [],
        contentHeight: 330,


        eventClick: function(info) {

            let date = info.event.extendedProps.titleDate
            $('.date').text(date);

            $(document).ready(function(){
                $.ajax({
                    url: `/statistic/getDayDeliveredList?token=${localStorage.getItem('token')}&start=${date}&end=${date}`,
                    type: "get",
                    datatype: "json",
                    success: function(result){
                        if(result !="error"){
                            const answer = result.answer;
                            console.log(answer);
                            $("#tblShow tr").remove();

                            for(var i = 0 ; i < answer.length ; i++){
                                let objRow = document.all("tblShow").insertRow();

                                let objCell_id = objRow.insertCell();
                                objCell_id.innerHTML = answer[i][0].id;
                                objCell_id.style = "display:none";

                                let objCell_status =objRow.insertCell();

                                if(answer[i][0].status == 0){
                                    objCell_status.innerHTML = `<p style='border: 1px solid;  width:32px; margin-top:5px'>주문</p>`
                                }
                                else if(answer[i][0].status == 1){
                                    objCell_status.innerHTML = `<p style='border: 1px solid;  width:32px; margin-top:5px'>접수</p>`
                                }
                                else if(answer[i][0].status == 2 || answer[i][0].status == 3){
                                    if(answer[i][0].receptionType == "DELIVERY"){
                                        objCell_status.innerHTML = `<p style='border: 1px solid;  width:32px; margin-top:5px'>배달</p>`
                                    }
                                    else if(answer[i][0].receptionType == "PICKUP"){
                                        objCell_status.innerHTML = `<p style='border: 1px solid;  width:32px; margin-top:5px'>포장</p>`
                                    }
                                    else{
                                        objCell_status.innerHTML = `<p style='border: 1px solid;  width:32px; margin-top:5px'>오류</p>`
                                    }
                                }
                                else if(answer[i][0].status == 4){
                                    objCell_status.innerHTML = `<p style='border: 1px solid;  width:32px; margin-top:5px'>환불</p>`
                                }

                                let objCell_earning = objRow.insertCell();
                                let temp =""

                                for(var j = 0 ; j<answer[i][1].length;j++){
                                    temp += answer[i][1][j][0] + " " + answer[i][1][j][1] + '&nbsp;&nbsp;&nbsp;'
                                }

                                objCell_earning.innerHTML = answer[i][0].totalPaidPrice + '<br>' + temp;

                                let objCell_time = objRow.insertCell();
                                let time = answer[i][0].createdAt.split('T');
                                time = time[1].split('.');
                                time = time[0].split(":");
                                time = time[0] + ":" + time[1]

                                objCell_time.innerHTML = time
                                objCell_time.style = "padding-top:15px"

                            }
                            const table = document.querySelectorAll("table");

                            for (const currentRow of table[3].rows) {
                                currentRow.onclick = createClickHandler(currentRow);
                            }
                        }
                        else{
                            alert("오류");
                        }
                    }
                })
            })
            
          }
    });

    $(document).ready(function(){
        $.ajax({
            url: "/statistic/getTotalEarningByDay",
            type: "get",
            data: {token: localStorage.getItem('token')},
            datatype: "json",
            success: function(result){

                daySales = {}
                const dayEarning = result.dayEarning[0]
                const dayRefund = result.dayRefund[0]

                for(var i = 0 ; i<dayEarning.length; i++){
                    daySales[dayEarning[i].date] = [dayEarning[i].dayEarning]
                }

                let keys = Object.keys(daySales)

                for(var i = 0 ; i<dayRefund.length; i++){
                    if(daySales[dayRefund[i].date]){
                        daySales[dayRefund[i].date].push(dayRefund[i].dayRefund)
                    }
                    else{
                        daySales[dayRefund[i].date] = [dayRefund[i].dayRefund]
                    }
                }

                keys = Object.keys(daySales)

                for(var i = 0 ; i<keys.length ; i++){
                    for(var j = 0 ; j<daySales[keys[i]].length ; j++){
                        if(daySales[keys[i]][j]>0){
                            calendar.addEvent({
                                title: daySales[keys[i]][j],
                                start: keys[i],
                                color: 'white',
                                textColor: 'blue',
                                titleDate: keys[i]

                            });
                        }
                        else{
                            calendar.addEvent({
                                title: daySales[keys[i]][j],
                                start: keys[i],
                                color: 'white',
                                textColor: 'red',
                                titleDate: keys[i]
                            });
                        }
                    }
                }
                
                calendar.render();

            }
        })
    })

    function getDeliveryById(id){
        $(document).ready(function(){
            $.ajax({
                url: "/user/getDeliveryById",
                type: "post",
                data: {
                    token:localStorage.getItem('token'),
                    delivery_id:id,     
                },
                datatype: "json",
                success: function(result){

                    const delivery = result.delivery;
                    const orderList = result.orderList;
                    const delivery_status = document.getElementById("status")

                    if(delivery.status == 0){
                        delivery_status.innerHTML = `주문`
                    }
                    else if(delivery.status == 1){
                        delivery_status.innerHTML = `접수`
                    }
                    else if(delivery.status == 2 || delivery.status == 3){
                        if(delivery.receptionType == "DELIVERY"){
                            delivery_status.innerHTML = `배달`
                        }
                        else if(delivery.receptionType == "PICKUP"){
                            delivery_status.innerHTML = `포장`
                        }
                        else{
                            delivery_status.innerHTML = `오류`
                        }
                    }
                    else if(delivery.status == 4){
                        delivery_status.innerHTML = `환불`
                    }

                    const jibunAddress = document.getElementById('jibunAddress');
                    jibunAddress.innerHTML = delivery.jibunAddress;

                    const roadAddress = document.getElementById('roadAddress');
                    roadAddress.innerHTML = delivery.roadAddress;

                    const detailAddress = document.getElementById('detailAddress');
                    detailAddress.innerHTML = delivery.addressDetail;

                    const date_value = document.getElementById("date")
                    let date = delivery.createdAt.split('T')
                    date[1] = date[1].split('.');
                    date[1] = date[1][0].split(":");
                    date[1] = date[1][0] + " : " + date[1][1]
                    date_value.innerHTML = date[0] + '&nbsp;&nbsp;&nbsp;&nbsp;' +  date[1];
                    const totalPrice = document.getElementById("totalPrice")
                    totalPrice.innerHTML = delivery.totalPaidPrice
                    const payType = document.getElementById("payType")
                    if(delivery.payType == 1){
                        payType.innerHTML = "주문시 결제"
                    }
                    else if(delivery.payType == 2){
                        payType.innerHTML = "만나서 카드결제"
                    }
                    else if(delivery.payType == 3){
                        payType.innerHTML = "만나서 현금결제"
                    }
                    else{
                        payType.innerHTML = "미입력"
                    }
                    
                    $("#tblShow_orders").empty();

                    for(let i = 0 ; i <orderList.length; i++){
                        let objRow = document.all("tblShow_orders").insertRow();
                        objRow.style = "border-collapse: separate; border-spacing: 0 10px;";

                        let objCell_menuName = objRow.insertCell();
                        objCell_menuName.innerHTML = orderList[i][0] + " * " + orderList[i][1]
                        

                        let objCell_price = objRow.insertCell();
                        objCell_price.innerHTML = (orderList[i][1] * orderList[i][2]) + "원"
                        objCell_price.style = "float:right"
                    }

                    let objRow = document.all("tblShow_orders").insertRow();
                    objRow.style = "border-collapse: separate; border-spacing: 0 10px;";

                    let objCell_deliveryPrice = objRow.insertCell();
                    objCell_deliveryPrice.innerHTML = "배달료"

                    let objCell_price = objRow.insertCell();
                    objCell_price.innerHTML = delivery.deliveryPrice  + "원"
                    objCell_price.style = "float:right"

                    if(delivery.status == 4){
                        const totalPrice = document.getElementById("totalPrice");
                        totalPrice.style = "text-decoration:line-through; display: inline-block; float: right;";
                        let rows = document.getElementById("tblShow_orders").getElementsByTagName("tr");
                        for(let i = 0; i<rows.length-1; i++){
                            let cells = rows[i].getElementsByTagName("td");

                            let cell_2 = cells[1]
                            
                            cell_2.style = "text-decoration:line-through; float:right";
                        }
                    }
                    else{
                            const totalPrice = document.getElementById("totalPrice");
                            totalPrice.style = "display: inline-block; float: right;";
                        }
                }
            })
        })  
    }

    const createClickHandler = (row) => {

        return () => {
            const cell = row.getElementsByTagName("td");
            const id = cell[0].innerHTML;
            getDeliveryById(id);
            document.getElementById('modal-btn').click();
        };
    };
    

</script>  

<script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>