<!DOCTYPE HTML>
<html>
<head>
    <meta charset='utf-8' />
    <link href='/static/fullcalendar/main.css' rel='stylesheet' />
    <script src='/static/fullcalendar/main.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div id='navibar'></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#navibar").load("/user/navibar", function () {
        });
    })
</script>

<div id='calendar' class = "container" style = "margin-top: 80px; width: 100% "></div>
        
<div id="table" style="height: 340px; margin-top:50px;">
    <p class="date"style="margin-left:30px; margin-bottom:0; display:hidden">날짜를 선택하세요</p>
    <table class="table table-hover" style = "margin-bottom:40px;">
        <thead style = "height: 0px;">
            <tr>
                <th style="padding:0"></th>
                <th style="padding:0"></th>
                <th style="padding:0"></th>
            </tr>
        </thead>
        <tbody style = "height: 34px;" id="tblShow">
        </tbody>
    </table>
</div>

<script type="text/javascript">

    

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {

        initialView: 'dayGridMonth',
        expandRows: true,
        aspectRatio: 1.35,
        events: [],
        contentHeight: 330,


        eventClick: function(info) {

            let date = info.event.extendedProps.titleDate
            $('.date').text(date);

            $(document).ready(function(){
                $.ajax({
                    url: `/statistic/getDayDeliveredList?token=${localStorage.getItem('token')}&date=${date}`,
                    type: "get",
                    datatype: "json",
                    success: function(result){
                        if(result !="error"){
                            const answer = result.answer;
                            console.log(answer);
                            $("#tblShow tr").remove();

                            for(var i = 0 ; i < answer.length ; i++){
                                let objRow = document.all("tblShow").insertRow();
                                let objCell_status =objRow.insertCell();

                                if(answer[i][0].status == 0){
                                    objCell_status.innerHTML = `<a style='border: 1px solid;'>주문</a>`
                                }
                                else if(answer[i][0].status == 1){
                                    objCell_status.innerHTML = `<a style='border: 1px solid;'>접수</a>`
                                }
                                else if(answer[i][0].status == 2 || answer[i][0].status == 3){
                                    if(answer[i][0].receptionType == "DELIVERY"){
                                        objCell_status.innerHTML = `<a style='border: 1px solid;'>배달</a>`
                                    }
                                    else if(answer[i][0].receptionType == "PICKUP"){
                                        objCell_status.innerHTML = `<a style='border: 1px solid;'>포장</a>`
                                    }
                                    else{
                                        objCell_status.innerHTML = `<a style='border: 1px solid;'>오류</a>`
                                    }
                                }
                                else if(answer[i][0].status == 4){
                                    objCell_status.innerHTML = `<a style='border: 1px solid;'>환불</a>`
                                }

                                let objCell_earning = objRow.insertCell();
                                let temp =""

                                for(var j = 0 ; j<answer[i][1].length;j++){
                                    temp += answer[i][1][j][0] + " " + answer[i][1][j][1] + '&nbsp;&nbsp;&nbsp;'
                                }

                                objCell_earning.innerHTML = answer[i][0].totalPaidPrice + '<br>' + temp;

                                let objCell_time = objRow.insertCell();
                                let time = answer[i][0].createdAt.split('T');
                                time = time[1].split('.');
                                time = time[0].split(":");
                                time = time[0] + ":" + time[1]

                                objCell_time.innerHTML = time

                            }

                            
                            
                        }
                        else{
                            alert("오류");
                        }
                    }
                })
            })
            
          }
    });

    $(document).ready(function(){
        $.ajax({
            url: "/statistic/getTotalEarningByDay",
            type: "get",
            data: {token: localStorage.getItem('token')},
            datatype: "json",
            success: function(result){

                daySales = {}
                const dayEarning = result.dayEarning[0]
                const dayRefund = result.dayRefund[0]

                for(var i = 0 ; i<dayEarning.length; i++){
                    daySales[dayEarning[i].date] = [dayEarning[i].dayEarning]
                }

                let keys = Object.keys(daySales)
                console.log(keys);
                for(var i = 0 ; i<dayRefund.length; i++){
                    if(daySales[dayRefund[i].date]){
                        daySales[dayRefund[i].date].push(dayRefund[i].dayRefund)
                    }
                    else{
                        daySales[dayRefund[i].date] = [dayRefund[i].dayRefund]
                    }
                }

                keys = Object.keys(daySales)

                for(var i = 0 ; i<keys.length ; i++){
                    for(var j = 0 ; j<daySales[keys[i]].length ; j++){
                        if(daySales[keys[i]][j]>0){
                            calendar.addEvent({
                                title: daySales[keys[i]][j],
                                start: keys[i],
                                color: 'white',
                                textColor: 'blue',
                                titleDate: keys[i]

                            });
                        }
                        else{
                            calendar.addEvent({
                                title: daySales[keys[i]][j],
                                start: keys[i],
                                color: 'white',
                                textColor: 'red',
                                titleDate: keys[i]
                            });
                        }
                    }
                }
                
                calendar.render();

            }
        })
    })

    

</script>  

<script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>