<!DOCTYPE HTML>
<html>
<head>
    <meta charset='utf-8' />
    <link href='/static/fullcalendar/main.css' rel='stylesheet' />
    <script src='/static/fullcalendar/main.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div id='navibar'></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#navibar").load("/user/navibar", function () {
        });
    })
</script>

<button type="button" id = "modal-btn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal" style="display:none;"></button>

<div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                
                <ul style="padding:0; margin:0">
                    <li style="list-style: none;">
                        <p style="font-weight: bold; display: inline-block;">시작 시간: </p>
                        <p style="display: inline-block; float: right;" id = "modal-open-time"></p>
                    </li>
                    <li style="list-style: none;">
                        <p style="font-weight: bold; display: inline-block;">마감 시간: </p>
                        <p style="display: inline-block; float: right;" id="modal-close-time"></p>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id='calendar' class = "container" style = "margin-top: 80px"></div>
        
<script type="text/javascript">

    localStorage.removeItem('date-start');
    localStorage.removeItem('date-end');

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {

        initialView: 'dayGridMonth',
        expandRows: true,
        aspectRatio: 1.35,
        events: [],

        eventClick: function(info) {
            
            var open_time = document.getElementById("modal-open-time");
            var close_time = document.getElementById("modal-close-time");
            open_time.innerHTML = info.event.extendedProps.open_time;
            close_time.innerHTML = info.event.extendedProps.close_time;

            document.getElementById('modal-btn').click();
          }
    });

    $(document).ready(function(){
        $.ajax({
            url: "/statistic/getTotalEarningByDay",
            type: "get",
            data: {token: localStorage.getItem('token')},
            datatype: "json",
            success: function(result){

                console.log(result);
                
            }
        })
    })

    

</script>  

<script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>