<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset = "UTF-8">
    <meta name = "viewport", content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/user/home">WebSiteName</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">주문관리<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/user/realtimesales">실시간 매출현황</a></li>
                  <li><a href="/user/paymenthistory">결제 내역</a></li>
                  <li><a href="/user/startend">영업 시작/마감</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">매장 분석<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/statistic/salescalendar">매출 달력</a></li>
                  <li><a href="/statistic/earninganalysis">매출 분석</a></li>
                  <li><a href="/statistic/salesanalysis">영업 분석</a></li>
                  <li><a href="/statistic/itemanalysis">상품 분석</a></li>
                  <li><a href="/statistic/consumeranalysis">고객 분석</a></li>
                </ul>
              </li>
              <li><a href="#">제휴서비스</a></li>
              <li><a href="/user/settings">설정</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#" onClick="logout()"><span class="glyphicon glyphicon-log-in" ></span> Logout</a></li>
            </ul>
          </div>
        </div>
    </nav>

    <script type="text/javascript">
        function logout(){
          localStorage.removeItem('token');
          window.location.href = 'http://localhost:4000/user'
        }

        function homeMenu(){
            var con = document.getElementById("homeDiv");
            if(con.style.display=='none'){
                con.style.display = 'block';
            }else{
                con.style.display = 'none';
            }
            if(window.location.pathname !='/user/home' && con.style.display == 'none'){
                window.location.href = 'http://localhost:4000/user/home'
            }
        }
    </script>

    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>