*{
    margin:0;
    padding:0;
}

.start-btn {
    background-color: rgb(59, 206, 96);
    font-weight: bold;
}

.end-btn {
    background-color: rgb(235, 75, 75);
    font-weight: bold;
}

.sidebar {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,0.9));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
}

.sidebar-link{
    transition: all .4s;
}

.sidebar-link:hover{
    background-color: #444;
    border-radius: 5px;
}

