<!DOCTYPE HTML>
<html>
<head>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <meta name = "viewport", content="width=device-width, initial-scale=1">
    
    
</head>
<body>

<div id='navibar'></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#navibar").load("/user/navibar", function () {
        });
    })
</script>

<div>
    <p class = "container row"  id = "date"></p>
    <hr>
    <p style="margin-left: 15px; font-weight: bold;">실시간 매출 현황</p>
    <div style = "position: absolute; margin-left:15px; font-size: 14px;" id="earning"></div>
    <ul class = "row" style=" list-style:none; margin-top: 50px; padding: 0; margin-top: 40px; margin-left:0; margin-right:0; width:100%; float:right;">
        <li >
            <div id="table_wait" class = "col-xs-4 col-sm-4 col-md-4" style="padding: 1px;">
                <table class="table table-hover" style = " margin-top:10px; margin-bottom:40px;">
                  <thead>
                      <tr>
                          <th>대기</th>
                      </tr>
                  </thead>
                  <tbody style = "height: 34px;" id="tblShow_wait">
                  </tbody>
                </table>
            </div>
        </li>
        <li >
            <div id="table_receipt"  class = "col-xs-4 col-sm-4 col-md-4" style="padding: 1px;">
                <table class="table table-hover" style = " margin-top:10px; margin-bottom:40px;">
                  <thead>
                      <tr>
                          <th>접수</th>
                      </tr>
                  </thead>
                  <tbody style = "height: 34px;" id="tblShow_receipt">
                  </tbody>
                </table>
            </div>
        </li>
        <li >
            <div id="table_completed"  class = "col-xs-4 col-sm-4 col-md-4" style="padding: 1px;">
                <table class="table table-hover" style = " margin-top:10px; margin-bottom:40px;">
                  <thead>
                      <tr>
                          <th>완료</th>
                      </tr>
                  </thead>
                  <tbody style = "height: 34px;" id="tblShow_completed">
                  </tbody>
                </table>
            </div>
        </li>
    </ul>
    
   
</div>
        
<script type="text/javascript">

    const date = document.getElementById('date')

    function getTime(){
        let today = new Date(); 
        let year = today.getFullYear(); // 년도
        let month = today.getMonth() + 1;  // 월
        let dates = today.getDate();  // 날짜
        let hours = today.getHours(); // 시
        let minutes = today.getMinutes();  // 분
        let seconds = today.getSeconds();  // 초

        if(hours<10){
            hours = "0" + String(hours)
        }
        if(minutes<10){
            minutes = "0" + String(minutes)
        }
        if(seconds<10){
            seconds = "0" + String(seconds)
        }

        date.innerHTML = ('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + year + ' / ' + month + ' / ' + dates  + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +   hours + " : " + minutes + " : " + seconds);
        date.style = "float: none; margin:0 auto; border: solid 1px; width: 260px; margin-top: 70px;"
    }

    function init(){
        setInterval(getTime, 1000);
    }
    getTime();
    init();

   
    function changeStatus_to_receipt(delivery_id) {
        var result = confirm("해당 주문을 접수처리 하시겠습니까?");
        if(result){
            $(document).ready(function(){
                $.ajax({
                    url: "/user/changeStatus",
                    type: "post",
                    data: {delivery_id,
                        token: localStorage.getItem('token')
                    },
                    datatype: "json",
                    success: function(result){

                        window.location.href = '/user/home';

                    }
                })
            }) 
        }
    }

    function changeStatus_to_completed(delivery_id) {
        var result = confirm("해당 주문을 완료처리 하시겠습니까?");
        if(result){
            $(document).ready(function(){
                $.ajax({
                    url: "/user/changeStatus",
                    type: "post",
                    data: {delivery_id,
                        token: localStorage.getItem('token')
                    },
                    datatype: "json",
                    success: function(result){
                        
                        window.location.href = '/user/home';
                       
                    }
                })
            }) 
        }
    }

    function changeStatus_delete(delivery_id) {
        var result = confirm("해당주문을 화면에서 지우시겠습니까?");
        if(result){
            $(document).ready(function(){
                $.ajax({
                    url: "/user/changeStatus",
                    type: "post",
                    data: {delivery_id,
                        token: localStorage.getItem('token')
                    },
                    datatype: "json",
                    success: function(result){
                        
                        window.location.href = '/user/home';
                        
                    }
                })
            }) 
        }
    }
 
    $(document).ready(function(){
        $.ajax({
            url: "/user/getEarning",
            type: "post",
            data: {token:localStorage.getItem('token')},
            datatype: "json",
            success: function(result){
                if(result.error != 'token expired'){
                    $('#earning').append(result.earning+ " 원");
                }
                else{
                    localStorage.removeItem('token');
                    alert('세션이 만료되었습니다 \n다시 로그인 하세요.');
                    window.location.href = '/user';
                }
            }
        })
    })  

    $(document).ready(function(){
        $.ajax({
            url: "/user/getDeliveryStatus",
            type: "post",
            data: {token:localStorage.getItem('token')},
            datatype: "json",
            success: function(result){

                var json = result.result;
                var arr = JSON.parse(json);
                var wait = arr[0]
                var receipt = arr[1]
                var completed = arr[2]


                for(var i = 0 ; i < wait.length; i++){
                    var objRow = document.all("tblShow_wait").insertRow();
                    var temp_html = "";
                    temp_html += `<div onClick="changeStatus_to_receipt(${wait[i][0]})">`

                    for( var j = 1 ; j<wait[i].length ; j++){
                        temp_html += wait[i][j][0] + " "+ "*"+" " + wait[i][j][1] + "<br>";
                    }
                    temp_html += '</div>'
                    
                    var objCell_id = objRow.insertCell();
                    objCell_id.innerHTML = wait[i][0];
                    objCell_id.style = "display:none"

                    var objCell_menu = objRow.insertCell();
                    objCell_menu.innerHTML = temp_html
                }
                for(var i = 0 ; i < receipt.length; i++){
                    var objRow = document.all("tblShow_receipt").insertRow();
                    var temp_html = "";
                    temp_html += `<div onClick="changeStatus_to_completed(${receipt[i][0]})">`

                    for( var j = 1 ; j<receipt[i].length ; j++){
                        temp_html += receipt[i][j][0] + " "+ "*"+" " + receipt[i][j][1] + "<br>";
                    }
                    temp_html += '</div>'
                    
                    var objCell_id = objRow.insertCell();
                    objCell_id.innerHTML = receipt[i][0];
                    objCell_id.style = "display:none"

                    var objCell_menu = objRow.insertCell();
                    objCell_menu.innerHTML = temp_html
                }
                for(var i = 0 ; i < completed.length; i++){
                    var objRow = document.all("tblShow_completed").insertRow();
                    var temp_html = "";
                    temp_html += `<div onClick="changeStatus_delete(${completed[i][0]})">`

                    for( var j = 1 ; j<completed[i].length ; j++){
                        temp_html += completed[i][j][0] + " "+ "*"+" " + completed[i][j][1] + "<br>";
                    }
                    temp_html += '</div>'
                    
                    var objCell_id = objRow.insertCell();
                    objCell_id.innerHTML = completed[i][0];
                    objCell_id.style = "display:none"

                    var objCell_menu = objRow.insertCell();
                    objCell_menu.innerHTML = temp_html
                } 
            }
        })
    })  
</script>  

<script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>