<!DOCTYPE HTML>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <meta name = "viewport", content="width=device-width, initial-scale=1">
</head>
<body>

<div>
    <div id='navibar'></div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#navibar").load("/user/navibar", function () {
            });
        })
    </script>
    <p style="margin-left: 15px; margin-bottom: 0; padding-bottom: 0; margin-top: 70px; font-weight: bold;">결제 내역</p>
    <div>
        <table id="table" class="table table-hover" style = "margin-bottom:40px;">
            <thead style = "height: 0px;">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody style = "height: 34px;" id="tblShow">
            </tbody>
        </table>
    </div>

    <button type="button" id = "modal-btn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal" style="display:none;"></button>

    <div id="modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    
                    <ul style="padding:0; margin:0">
                        <li style="list-style: none;">
                            <p style="font-weight: bold; display: inline-block;">결제시간</p>
                            <p style="display: inline-block; float: right;" id = "date"></p>
                        </li>
                        <li style="list-style: none;">
                            <p style="font-weight: bold; display: inline-block;">총 결제 금액</p>
                            <p style="display: inline-block; float: right;" id="totalPrice"></p>
                        </li>
                        <hr>
                        <li style="list-style: none;">
                            <p style="font-weight: bold; display: inline-block;">합계</p>
                            <p style="display: inline-block; float: right;"  id = "total"></p>
                        </li>
                        <li style="list-style: none;">
                            <p style="font-weight: bold; display: inline-block;">환불 가능 금액</p>
                            <p style="display: inline-block; float: right;" id = "refundable"></p>
                        </li>
                        <li style="list-style: none;">
                            <p style="font-weight: bold; display: inline-block;">환불된 금액</p>
                            <p style="display: inline-block; float: right;" id = "refunded"></p>
                        </li>
                        <hr>
                        <li style="list-style: none;">
                            <p style="font-weight: bold; display: inline-block;">결제 수단</p>
                            <p style="display: inline-block; float: right;" id = "payType"></p>
                        </li>
                        <hr>
                        <li style="list-style: none;">
                            <p style = "font-weight: bold;">결제 내역</p>
                            <div id="table">
                                <table  style = " margin-top:10px; margin-bottom:40px; width: 100%;">
                                    <thead style = "height: 0px;">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody style = "height: 34px;" id="tblShow_orders">
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <hr>
                        <li style="text-align:center; list-style: none;">
                            <a style="border: 1px solid; margin-top: 20px; margin-right: 10px; display:none;" id="refund-btn" class = "btn btn-default" onclick = "refundOrder()">환불</a>
                            <a style="border: 1px solid; margin-top: 20px; display:none;" id="delete-btn" class = "btn btn-default " onclick = "deleteOrder()">삭제</a>
                        </li>
                        <li style="text-align:center; list-style: none; display: none;">
                            <a id="deli_id"></a>
                        </li>
                    </ul>
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

            
        </div>
    </div>  

    
    
</div>

        
<script type="text/javascript">

    function refundOrder(){
        var result = confirm("해당주문을 환불처리 하시겠습니까?");
        if(result){
            $(document).ready(function(){
                $.ajax({
                    url: "/user/refund",
                    type: "post",
                    data: {delivery_id: document.getElementById("deli_id").innerHTML,
                        token: localStorage.getItem('token')
                    },
                    datatype: "json",
                    success: function(result){
                        if(result !="error"){
                            window.location.href = '/user/paymenthistory'; 
                        }
                        else{
                            alert("오류");
                        }
                    }
                })
            })
        }
        
    }

    function deleteOrder(){
        var result = confirm("해당주문을 화면에서 삭제 하시겠습니까?");
        if(result){
            $(document).ready(function(){
                $.ajax({
                    url: "/user/delete",
                    type: "post",
                    data: {delivery_id: document.getElementById("deli_id").innerHTML,
                        token: localStorage.getItem('token')
                    },
                    datatype: "json",
                    success: function(result){
                        if(result !="error"){
                            window.location.href = '/user/paymenthistory'; 
                        }
                        else{
                            alert("오류");
                        }
                    }
                })
            })
        }
    }

    const createClickHandler = (row) => {

        return () => {
            const cell = row.getElementsByTagName("td");
            const id = cell[0].innerHTML;
            getDeliveryById(id);
            document.getElementById('modal-btn').click();
        };
    };

    $(document).ready(function(){
        $.ajax({
            url: "/user/getPaymentList",
            type: "post",
            data: {token:localStorage.getItem('token'),
                    start: new Date(2022, 1, 1),
                    end: new Date()},
            datatype: "json",
            success: function(result){

                var payment = result.paymentList;
                
                for(var i = 0; i<payment.length;i++){
                    if(payment[i].status != 5){
                        var objRow = document.all("tblShow").insertRow();

                        var objCell_id = objRow.insertCell();
                        objCell_id.innerHTML = payment[i].id;
                        objCell_id.style = "display:none";

                        var objCell_status =objRow.insertCell();

                        if(payment[i].status == 0){
                            objCell_status.innerHTML = `<a style='border: 1px solid;'>주문</a>`
                        }
                        else if(payment[i].status == 1){
                            objCell_status.innerHTML = `<a style='border: 1px solid;'>접수</a>`
                        }
                        else if(payment[i].status == 2 || payment[i].status == 3){
                            if(payment[i].receptionType == "DELIVERY"){
                                objCell_status.innerHTML = `<a style='border: 1px solid;'>배달</a>`
                            }
                            else if(payment[i].receptionType == "PICKUP"){
                                objCell_status.innerHTML = `<a style='border: 1px solid;'>포장</a>`
                            }
                            else{
                                objCell_status.innerHTML = `<a style='border: 1px solid;'>오류</a>`
                            }
                        }
                        else if(payment[i].status == 4){
                            objCell_status.innerHTML = `<a style='border: 1px solid;'>환불</a>`
                        }

                        var objCell_earning = objRow.insertCell();
                        objCell_earning.innerHTML = payment[i].totalPaidPrice;

                        var objCell_date = objRow.insertCell();
                        var date = payment[i].createdAt.split('T')
                        date[1] = date[1].split('.');
                        date[1] = date[1][0].split(":");
                        date[1] = date[1][0] + " : " + date[1][1]
                        objCell_date.innerHTML = date[0] + '&nbsp;&nbsp;&nbsp;&nbsp;' +  date[1];

                    }
                }

                const table = document.querySelector("table");

                for (const currentRow of table.rows) {
                    currentRow.onclick = createClickHandler(currentRow);
                }
            }
        })
    }) 

    function getDeliveryById(id){
        $(document).ready(function(){
            $.ajax({
                url: "/user/getDeliveryById",
                type: "post",
                data: {
                    token:localStorage.getItem('token'),
                    delivery_id:id,     
                },
                datatype: "json",
                success: function(result){

                    const delivery = result.delivery;
                    const orderList = result.orderList;
                    const date_value = document.getElementById("date")
                    var date = delivery.createdAt.split('T')
                    date[1] = date[1].split('.');
                    date[1] = date[1][0].split(":");
                    date[1] = date[1][0] + " : " + date[1][1]
                    date_value.innerHTML = date[0] + '&nbsp;&nbsp;&nbsp;&nbsp;' +  date[1];
                    const totalPrice = document.getElementById("totalPrice")
                    totalPrice.innerHTML = delivery.totalPaidPrice
                    const total = document.getElementById("total")
                    const refundable = document.getElementById("refundable")
                    refundable.innerHTML = (delivery.totalPaidPrice - delivery.deliveryPrice)
                    const refunded = document.getElementById("refunded")
                    refunded.innerHTML = 0
                    total.innerHTML = (Number(refundable.innerHTML) + Number(refunded.innerHTML))
                    const payType = document.getElementById("payType")
                    if(delivery.payType == 1){
                        payType.innerHTML = "주문시 결제"
                    }
                    else if(delivery.payType == 2){
                        payType.innerHTML = "만나서 카드결제"
                    }
                    else if(delivery.payType == 3){
                        payType.innerHTML = "만나서 현금결제"
                    }
                    else{
                        payType.innerHTML = "미입력"
                    }
                    
                    $("#tblShow_orders").empty();

                    for(var i = 0 ; i <orderList.length; i++){
                        var objRow = document.all("tblShow_orders").insertRow();
                        objRow.style = "border-collapse: separate; border-spacing: 0 10px;";

                        var objCell_menuName = objRow.insertCell();
                        objCell_menuName.innerHTML = orderList[i][0] + " * " + orderList[i][1]
                        

                        var objCell_price = objRow.insertCell();
                        objCell_price.innerHTML = (orderList[i][1] * orderList[i][2]) + "원"
                        objCell_price.style = "float:right"
                    }

                    var objRow = document.all("tblShow_orders").insertRow();
                    objRow.style = "border-collapse: separate; border-spacing: 0 10px;";

                    var objCell_deliveryPrice = objRow.insertCell();
                    objCell_deliveryPrice.innerHTML = "배달료"

                    var objCell_price = objRow.insertCell();
                    objCell_price.innerHTML = delivery.deliveryPrice  + "원"
                    objCell_price.style = "float:right"

                    const deli_id = document.getElementById("deli_id");
                    deli_id.innerHTML = delivery.id;

                    if(delivery.status == 4){
                        const totalPrice = document.getElementById("totalPrice");
                        totalPrice.style = "text-decoration:line-through; display: inline-block; float: right;";
                        const refundable = document.getElementById("refundable")
                        var temp = refundable.innerHTML 
                        refundable.innerHTML = 0
                        const refunded = document.getElementById("refunded")
                        refunded.innerHTML = temp
                        const total = document.getElementById("total")
                        total.innerHTML = (Number(refundable.innerHTML) + Number(refunded.innerHTML))
                        var rows = document.getElementById("tblShow_orders").getElementsByTagName("tr");
                        for(var i = 0; i<rows.length-1; i++){
                            var cells = rows[i].getElementsByTagName("td");

                            var cell_2 = cells[1]
                            
                            cell_2.style = "text-decoration:line-through; float:right";
                        }
                        var refund_btn = document.getElementById("refund-btn");
                        refund_btn.style.display = "none"
                        var delete_btn = document.getElementById("delete-btn");
                        delete_btn.style.display = ""
                    }
                    else{
                            const totalPrice = document.getElementById("totalPrice");
                            totalPrice.style = "display: inline-block; float: right;";
                            var refund_btn = document.getElementById("refund-btn");
                            refund_btn.style.display = ""
                            var delete_btn = document.getElementById("delete-btn");
                            delete_btn.style.display = "none"
                        }
                }
            })
        })  
    }

</script>  

<script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>