<!DOCTYPE HTML>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>

<div id='navibar'></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#navibar").load("/user/navibar", function () {
        });
    })
</script>

<div>
    <p class = "container row"  id = "date"></p>
    <hr>
    <p style="margin-left: 15px; font-weight: bold;">실시간 매출 현황</p>
    <div style = "position: absolute; margin-left:15px; font-size: 14px;" id="earning"></div>
    
    <div id="table" style="height: 340px; margin-top:50px;">
        <table class="table table-hover" style = "margin-bottom:40px;">
            <thead style = "height: 0px;">
                <tr>
                    <th>주문 경로</th>
                    <th>건 수</th>
                    <th>매출</th>
                </tr>
            </thead>
            <tbody style = "height: 34px;" id="tblShow">
            </tbody>
        </table>
    </div>
    
   
</div>
        
<script type="text/javascript">

    const date = document.getElementById('date')

    function getTime(){
        let today = new Date(); 
        let year = today.getFullYear(); // 년도
        let month = today.getMonth() + 1;  // 월
        let dates = today.getDate();  // 날짜
        let hours = today.getHours(); // 시
        let minutes = today.getMinutes();  // 분
        let seconds = today.getSeconds();  // 초

        date.innerHTML = ('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + year + ' / ' + month + ' / ' + dates  + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +   hours + " : " + minutes + " : " + seconds);
        date.style = "float: none; margin:0 auto; border: solid 1px; width: 260px; margin-top: 70px;"
    }

    function init(){
        setInterval(getTime, 1000);
    }
    getTime();
    init();

    $(document).ready(function(){
        $.ajax({
            url: "/user/getEarning",
            type: "post",
            data: {token:localStorage.getItem('token')},
            datatype: "json",
            success: function(result){
                if(result.error != 'token expired'){
                    $('#earning').append(result.earning+ " 원");
                }
                else{
                    localStorage.removeItem('token');
                    alert('세션이 만료되었습니다 \n다시 로그인 하세요.');
                    window.location.href = '/user';
                }
            }
        })
    })  

    $(document).ready(function(){
        $.ajax({
            url: "/user/getEarningForDeliveryApp",
            type: "post",
            data: {token:localStorage.getItem('token')},
            datatype: "json",
            success: function(result){
                var earning = JSON.parse(result.earning);

                for(var i = 0; i<earning.length;i++){
                    var objRow = document.all("tblShow").insertRow();
                    var objCell_app =objRow.insertCell();
                    objCell_app.innerHTML = earning[i][0];
                    var objCell_count = objRow.insertCell();
                    objCell_count.innerHTML = earning[i][1] + "건";
                    var objCell_earning = objRow.insertCell();
                    objCell_earning.innerHTML = earning[i][2];
                }
            }
        })
    })  
    
</script>  

<script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>