<!DOCTYPE HTML>
<html>
<head>
    <meta charset='utf-8' />
    <link href='/static/fullcalendar/main.css' rel='stylesheet' />
    <script src='/static/fullcalendar/main.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div id='navibar'></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#navibar").load("/user/navibar", function () {
        });
    })
</script>

<div>
    <p class = "container row" style="float: none; margin-top: 70px; margin-left:auto; margin-right:auto;  border: solid 1px; width: 260px;" id = "date"></p>
    <hr>
    <ul style="list-style: none;">
        <li>
            <p style="display: inline-block; margin-left: 15px; font-weight: bold;">시작 시간: </p>
            <p style="display: inline-block; position: absolute; left: 50%; transform: translateX(-50%);" id = "open-time"></p>
        </li>
        <li>
            <p style="display: inline-block; margin-left: 15px; font-weight: bold;">마감 시간:</p>
            <p style="display: inline-block; position: absolute; left: 50%; transform: translateX(-50%);" id = "close-time"></p>
        </li>
        <li style="text-align:center; list-style: none;">
            <a style="border: 1px solid; margin-top: 20px; margin-right: 10px; background-color: rgb(59, 206, 96); font-weight: bold; display:none;" id="start-btn" class = "start-btn btn btn-default" onclick = "start()">영업 시작</a>
            <a style="border: 1px solid; margin-top: 20px; background-color: rgb(235, 75, 75); font-weight: bold; display:none; " id="end-btn" class = "end-btn btn btn-default " onclick = "end()">영업 마감</a>
        </li>
        <hr>
    </ul>
</div>

<button type="button" id = "modal-btn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal" style="display:none;"></button>

<div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                
                <ul style="padding:0; margin:0">
                    <li style="list-style: none;">
                        <p style="font-weight: bold; display: inline-block;">시작 시간: </p>
                        <p style="display: inline-block; float: right;" id = "modal-open-time"></p>
                    </li>
                    <li style="list-style: none;">
                        <p style="font-weight: bold; display: inline-block;">마감 시간: </p>
                        <p style="display: inline-block; float: right;" id="modal-close-time"></p>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id='calendar' class = "container" style="width: 100%"></div>
        
<script type="text/javascript">

    localStorage.removeItem('date-start');
    localStorage.removeItem('date-end');

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {

        initialView: 'dayGridMonth',
        expandRows: true,
        aspectRatio: 1.35,
        events: [],

        eventClick: function(info) {
            
            var open_time = document.getElementById("modal-open-time");
            var close_time = document.getElementById("modal-close-time");
            open_time.innerHTML = info.event.extendedProps.open_time;
            close_time.innerHTML = info.event.extendedProps.close_time;

            document.getElementById('modal-btn').click();
          }
    });

    $(document).ready(function(){
        $.ajax({
            url: `/user/getOpenRecords?token=${localStorage.getItem('token')}`,
            type: "get",
            datatype: "json",
            success: function(result){

                if(result.error != 'token expired'){
                    if(result !="error"){
                        const openRecords = result.openRecords;
                        console.log(openRecords);
                        for(var i = 0; i<openRecords.length ; i++){
    
                            var open_time = "";
                            var close_time = "";
                            var date = "";
    
                            if(openRecords[i].start_time != null){
                                
                                var time = openRecords[i].start_time.split("&nbsp;&nbsp;&nbsp;")[1];
                                time = time.split(":");
                                time = time[0] + ":" + time[1]
    
                                open_time = time;
    
                                date = openRecords[i].start_time.split("&nbsp;&nbsp;&nbsp;")[0];
                                date = date.split(' / ');
    
                                date = date[0] + "-" + date[1] + "-" + date[2]
        
                            }
                            if(openRecords[i].end_time != null){
    
                                var time = openRecords[i].end_time.split("&nbsp;&nbsp;&nbsp;")[1];
                                time = time.split(":");
                                time = time[0] + ":" + time[1]
    
                                close_time = time;
    
                            }
                            console.log(date)
                            const a = 1
                            calendar.addEvent({
                                title: "영업기록",
                                start: date,
                                open_time: open_time,
                                close_time: close_time,
                            });
    
                        }
                        calendar.render();
                    }
                    else{
                        alert("오류");
                    }
                }
                else{
                    localStorage.removeItem('token');
                    alert('세션이 만료되었습니다 \n다시 로그인 하세요.');
                    window.location.href = '/user';
                }
            }
        })
    })

    
    

    $(document).ready(function(){
        $.ajax({
            url: `/user/isOpen?token=${localStorage.getItem('token')}`,
            type: "get",
            datatype: "json",
            success: function(result){

                if(result !="error"){
                    var isOpen = result.isOpen;
                    var openRecord = result.openRecord[0];
                    if(isOpen == 1 && result.openRecord != 0){

                        const openTime = document.getElementById('open-time');
                        openTime.innerHTML = openRecord[0].start_time;

                        const start_btn = document.getElementById('start-btn');
                        start_btn.style = "border: 1px solid; margin-top: 20px; background-color: rgb(59, 206, 96); font-weight: bold; margin-right: 10px; display:none;"
                        const end_btn = document.getElementById('end-btn');
                        end_btn.style = "border: 1px solid; margin-top: 20px; background-color: rgb(235, 75, 75); font-weight: bold; margin-right: 10px;"
                    }            
                    else{

                        if(result.openRecord != 0){
                            const openTime = document.getElementById('open-time');
                            openTime.innerHTML = openRecord[0].start_time;
                            const closeTime = document.getElementById('close-time');
                            closeTime.innerHTML = openRecord[0].end_time;
                        }
                        
                        const start_btn = document.getElementById('start-btn');
                        start_btn.style = "border: 1px solid; margin-top: 20px; background-color: rgb(59, 206, 96); font-weight: bold; margin-right: 10px;"
                        const end_btn = document.getElementById('end-btn');
                        end_btn.style = "border: 1px solid; margin-top: 20px; margin-right: 10px; background-color: rgb(235, 75, 75); font-weight: bold; display:none;"
                    }
                }
                else{
                    alert("오류");
                }
            }
        })
    })

    function start(){
        var result = confirm("영업을 시작하시겠습니까?");
        if(result){
            $(document).ready(function(){
                $.ajax({
                    url: "/user/open",
                    type: "post",
                    data: {token: localStorage.getItem('token')},
                    datatype: "json",
                    success: function(result){
                        if(result !="error"){
                            window.location.href = '/user/startend';  
                        }
                        else{
                            alert("오류");
                        }
                    }
                })
            })
        }
    }

    function end(){
        var result = confirm("영업을 종료하시겠습니까?");
        if(result){
            $(document).ready(function(){
                $.ajax({
                    url: "/user/close",
                    type: "post",
                    data: {token: localStorage.getItem('token')},
                    datatype: "json",
                    success: function(result){
                        if(result !="error"){
                            window.location.href = '/user/startend';  
                        }
                        else{
                            alert("오류");
                        }
                    }
                })
            })
        }
    }

    const date = document.getElementById('date')

    function getTime(){
        let today = new Date(); 
        let year = today.getFullYear(); // 년도
        let month = today.getMonth() + 1;  // 월
        let dates = today.getDate();  // 날짜
        let hours = today.getHours(); // 시
        let minutes = today.getMinutes();  // 분
        let seconds = today.getSeconds();  // 초

        date.innerHTML = ('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + year + ' / ' + month + ' / ' + dates  + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +   hours + " : " + minutes + " : " + seconds);
    }

    function init(){
        setInterval(getTime, 1000);
    }
    getTime();
    init();

</script>  

<script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>