<!DOCTYPE HTML>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<div class="container">
    <div>
        <img src="/static/images/cheese.png" id = "cheese" alt="Cheese">
        <p id="firstKitchen">공유주방</p>
        <p id="login-text">LOGIN</p>
        <p id="please">Please sign in to continue</p>
        <ul id="ul">
            <li style="text-align: center; margin-bottom: 10px;">
                <input name="mobile" id="tel" type = "text" placeholder="전화번호를 숫자만 입력해 주세요." required>
            </li> 
            <li style="text-align: center; margin-bottom: 10px;">
                <input type = "submit" id="postMsg" value="인증번호 보내기" onClick="postMsg()">
            </li>  
            <li>
                <input name="authNum" id="authNum" type = "text"  placeholder="인증번호를 입력해 주세요." required>
                <input type = "submit" id = "getAuth" value="인증"  onClick="getAuth()">
            </li>
            <li style="text-align: center;">
                <div id="timer">00 : 00</div>
            </li>
            <li style="text-align: center; margin-bottom: 10px;">
                <div id="isLogin"></div>
            </li>
            <li style="text-align: center; margin-bottom: 10px; list-style-type:none;">
                <input type = "button" id="login-btn" value="Login" onclick="login()">
            </li>
        </ul>
    </div>
</div> 

<script type="text/javascript">
    function convertCss(){
        if (window.matchMedia('(orientation: portrait)').matches) {
            document.getElementById("cheese").style = "display:inline; margin-left: auto; display: block;"
            document.getElementById("firstKitchen").style = "color: rgba(227,183,28); margin-left: 62%; font-size: 5.5em"
            document.getElementById("login-text").style = "margin-top: 10%; margin-left:14%; font-size: 7.5em"
            document.getElementById("please").style = "  margin-left:14%; font-size: 4.5em"
            document.getElementById("ul").style = "list-style-type:none; margin-top: 100px;"
            document.getElementById("tel").style = "border-radius: 20px; padding-left: 50px; width:70.5%; height:150px; margin-bottom: 20px; font-size: 3.5em; box-shadow:2px 3px 5px 0px rgba(150,150,150)"
            document.getElementById("postMsg").style = "color: rgba(227,183,28); background-color: white; border-radius: 20px; text-align: center; width:76%; height:150px; margin-bottom: 20px; font-size: 4.5em; box-shadow:2px 3px 5px 0px rgba(150,150,150)"
            document.getElementById("authNum").style = "border-radius: 20px; padding-left: 50px; width:50.5%; height:150px; margin-left:12%; margin-bottom: 20px; font-size: 3.5em; box-shadow:2px 3px 5px 0px rgba(150,150,150)"
            document.getElementById("getAuth").style = "border: 0; outline: 0; border-radius: 20px; width:18%; height:150px; margin-left:20px; background-color:rgba(233,198,78); font-size: 4.5em; margin-bottom: 30px; color:white"
            document.getElementById("timer").style = "color: rgba(227,183,28); font-size:4.5em; padding: 0px 0px"
            document.getElementById("isLogin").style = "color: rgba(227,183,28); font-size:3.5em; padding: 25px 0px"
            document.getElementById("login-btn").style = "border: 0; outline: 0; border-radius: 20px; background-color:rgba(233,198,78); width:20%; height:100px; font-size: 4.5em; margin-bottom:20px; color:white"
        } else {
            document.getElementById("cheese").style = "display:none"
            document.getElementById("firstKitchen").style = "display:none"
            document.getElementById("login-text").style = "display:none"
            document.getElementById("please").style = "display:none"
            document.getElementById("ul").style = "list-style-type:none; margin-top: 30px;"
            document.getElementById("tel").style = "border-radius: 20px; padding-left: 50px; width:65%; height:70px; margin-bottom: 10px; font-size: 1.8em; box-shadow:2px 3px 5px 0px rgba(150,150,150)"
            document.getElementById("postMsg").style = "color: rgba(227,183,28); background-color: white; border-radius: 20px; padding-left: 30px;  text-align: center; width:68.5%; height:70px; margin-bottom: 20px; font-size: 2.2em; box-shadow:2px 3px 5px 0px rgba(150,150,150)"
            document.getElementById("authNum").style = "border-radius: 20px; padding-left: 50px; width:50%; margin-left:15.8%; height:70px; margin-bottom: 20px; font-size: 1.8em; box-shadow:2px 3px 5px 0px rgba(150,150,150)"
            document.getElementById("getAuth").style = "border: 0; outline: 0; border-radius: 20px; width:12.5%; height:70px; margin-left:20px; background-color:rgba(233,198,78); font-size: 2.2em; margin-bottom: 20px; color:white"
            document.getElementById("timer").style = "color: rgba(227,183,28); font-size:2.2em; padding: 0px 0px"
            document.getElementById("isLogin").style = "color: rgba(227,183,28); font-size:1.8em; padding: 0px 0px"
            document.getElementById("login-btn").style = "border: 0; outline: 0; border-radius: 20px; background-color:rgba(233,198,78); width:20%; height:80px; font-size: 3.0em; margin-bottom:20px; color:white"
        }
    }
     
    convertCss();
    document.body.style.backgroundColor = "rgba(245,245,245)";
    window.addEventListener('resize', function () {
        convertCss();
    });

    function login(){
        if(localStorage.getItem('token')!=null){
            $(document).ready(function(){
                $.ajax({
                    url: `/login/login?token=${localStorage.getItem('token')}`,
                    type: "get",
                    datatype: "json",
                    success: function(result){
                        if(result == 'success'){
                            localStorage.removeItem('randSended');
                            window.location.href = '/user/home';
                        } 
                        else{
                            alert('세션이 만료되었습니다.')
                        }
                    }
                })
            });
        }
        else{
            alert('인증이 필요합니다.');
        }
    }

    function getAuth(){

        const tel = document.getElementById('tel').value;
        const authNum = document.getElementById("authNum").value;
        if(authNum.length != 0){
            if(localStorage.getItem('randSended') == 1){
                $(document).ready(function(){
                    $.ajax({
                        url: "/login/getAuthorizatoin",
                        type: "post",
                        data: {
                            'mobile': tel,
                            'authNum': authNum
                        },
                        datatype: "json",
                        success: function(result){
                            if(result.token == 'fail'){
                                alert('인증번호가 틀립니다.')
                            }
                            else if(result.token=="sessionEnd"){
                                alert('인증번호가 만료되었습니다 \n다시 발급받으세요.')
                            }
                            else{
                                localStorage.setItem('token', result.token);
                                localStorage.setItem('storeName', result.storeName);
                                alert('인증되었습니다.');
                                const isLogin = document.getElementById('isLogin');
                                isLogin.innerHTML = "인증되었습니다."
                                document.getElementById("timer").style = "display:none"
                            }
                        }
                    })
                });
            }
            else{
                alert('인증번호를 먼저 발급받으세요.');
            }
        }
        else{
            alert('인증번호를 입력하세요.');
        }
        
    }

    var time = 0;
    var timerFunction = null;

    function startTimer(){
        time--;
        var minute = Math.floor(time/60);
        var second = time%60;
        
        const timer = document.getElementById('timer');
        if (time>0){
            timer.innerHTML = minute + " : " + second;
        }
        else{
            timer.innerHTML = "시간초과";
            clearInterval(timerFunction);
            console.log(timerFunction);
        }
    }

    function postMsg(){
        const tel = document.getElementById('tel').value;
        if(tel.length == 11 && tel.substring(0,3)=='010'){
            $(document).ready(function(){
                $.ajax({
                    url: "/login/postAuthorizationMsg",
                    type: "post",
                    data: {
                        'mobile': tel
                    },
                    datatype: "json",
                    success: function(result){
                        if(result=="success"){
                            localStorage.setItem('randSended',1)
                            time = 120;
                            clearInterval(timerFunction);
                            timerFunction = setInterval(startTimer, 1000);
                            console.log(timerFunction);
                        }
                        else if(result == "notJoined"){
                            alert('등록되지 않은 번호입니다.');
                        }
                        else{
                            alert('서버 오류');
                        }
                    }
                })
            });  
        }
        else{
            if(tel.length == 0){
                alert('전화 번호를 입력하세요.')
            }
            else{
                alert('번호형식이 틀립니다.')
            }
        }
    }
</script>

</body>
</html>